/* * {
    margin: 0;
    padding: 0;
} */

.container {
    border: 2px dotted red;
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
}

.box {
    border: 2px dotted green;
    width: 100px;
    height: 100px;
    font-weight: bold;
}