/* * {
    margin: 0;
    padding: 0;
} */

.container {
    border: 2px dotted red;
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
}

.box {
    border: 2px dotted green;
    width: 100px;
    height: 100px;
    font-weight: bold;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.wrapper div {
    border: 2px solid gray;
    border-radius: 5px;
}